@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #001225;
  /* Very Dark Navy */
  --foreground: #ffffff;
  --byu-navy: #002E5D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001225;
    --foreground: #ffffff;
    --byu-navy: #002E5D;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scrollbar from full-width anims */
}